// ## Colors
// ### Primary
$marine-blue: hsl(213, 96%, 18%);
$purplish-blue: hsl(243, 100%, 62%);
$pastel-blue: hsl(228, 100%, 84%);
$light-blue: hsl(206, 94%, 87%);
$strawberry-red: hsl(354, 84%, 57%);

// ### Neutral
$cool-gray: hsl(231, 11%, 63%);
$light-gray: hsl(229, 24%, 87%);
$magnolia: hsl(217, 100%, 97%);
$white: hsl(0, 0%, 100%);
$dark: hsl(0, 0%, 0%);

// ## Typography
// ### Body Copy
$fs: 16px;
$fw-reg: 400;
$fw-med: 500;
$fw-b: 600;

// ## transition && Shadow && others
$transition: 0.3s;
$shadow: 2px 3px 10px 0px #a7a7a7;
$radius: 15px;
